:root {
  --text: #08060D;
  --text-h: #5F9C3F;
  --bg: rgba(255, 225, 52, 0.2);
  --border: #5F9C3F;
  --code-bg: rgba(255, 225, 52, 0.2);
  --accent: #F5BD1E;
  
  --slide-bg: #FFFEEC;

  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background-color: var(--slide-bg);
}

h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
}

strong { 
  color: var(--accent);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
  color: var(--text-h);
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
  color: var(--accent);
}
p {
  margin: 0;
}

@font-face {
  font-family: 'Bitcount Single';
  src: url('/fonts/bitcount.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

code,
.counter {
  font-family: 'Bitcount Single', monospace !important;
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 18px;
  font-family: 'Bitcount Single', monospace !important;
  line-height: 135%;
  padding: 8px 15px;
  background: var(--code-bg);
  text-align: left;
  border: 1px solid;
  border-color: var(--bg);
}

button {
  padding: 10px 20px;
  border: 1px solid;
  border-color: var(--accent);
  background-color: var(--bg);
  color: var(--accent);
  border-radius: 10%/50%;
}
button:hover {
  cursor: pointer;
}

.katex-display {
  display: flex;         
  justify-content: center;
  width: 100%;           
  margin: 1.5rem 0;    
  overflow-x: auto;     
  overflow-y: hidden;
}
